.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
html,
body {
    height: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    height: 100%;
}

.body-container{
    position: absolute;
    width: calc( 100% - 250px);
    height: 100%;
    right: 0px;
}

.header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    background-color: #ffd402;
}

.option-container {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
    gap: 20px;
}

.task-popup-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 30px;
}

.username-disp{
    position: absolute;
    right: 20px;
    font-size: 20px;
}

/* List view */
.list-container {
    height: calc(100% - 190px );
    width: 95%;
    margin: 20px 2.5%;
}

.post-list {
    height: 100%;
}
.list-header{
    background-color: #ffd402;
    font-weight: 500;
    border: 1px solid #d5d5d5,
}

/* login page */
.button_style {
    margin-left: 10px !important;
    margin-right: 10px;
  }
  
  .centerTable {
    margin: 0px auto;
  }
  
  h2 {
      color: #3f51b5;
  }

  /* Post list*/
  .scroll-container{
    height: 100%;
  }
  
  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
